body {
  padding-top: 50px;
}
.main {
  padding: 40px 15px;
  text-align: center;
}

.form-input {
    text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

#getNameTag {
    padding-top: 10px;
}

.navbar-default {
    background-color: #003300;
}

.navbar-default .navbar-nav > li > a {
    color: #999999;
}

#logo {
    max-width:40px;
    margin-top: -9px;
    margin-right: 10px;
    float: left;
}